*{
    font-family: monospace;
}

.parent{
    justify-content: end;
    display: flex;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.box{
    font-size: 6.5em;
    text-align: center;
}

.box h5{
    margin: 20px;
}

.box button{
    width: 200px;
    height: 70px;
    border-radius: 40px;
    font-size: 30px;
    border: none;
}

#start-stop.start{
    background-color: rgb(105, 255, 105);
}
#start-stop.start:hover{
    background-color: rgb(91, 214, 91);
    cursor: pointer;
}
#start-stop.start:active{
    background-color: rgb(105, 255, 105);
}

#start-stop.stop{
    background-color: rgb(255, 105, 105);
}
#start-stop.stop:hover{
    background-color: rgb(214, 91, 91);
    cursor: pointer;
}
#start-stop.stop:active{
    background-color: rgb(255, 105, 105);
}


#reset-lap{
    background-color: rgb(202, 202, 202);
}
#reset-lap:hover{
    background-color: rgb(166, 166, 166);
    cursor: pointer;
}
#reset-lap:active{
    background-color: rgb(202, 202, 202);
}

.laps-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  padding: 10px 0;
}

.laps-box h4 {
  font-size: 2em;
  margin: 0;
}

#laps {
  list-style-position: inside;
  padding: 0;
  margin: 10px 0 0 0;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

#laps li {
  font-size: 1.5em;
}
