body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: rgb(255, 231, 10);
}

button{
    background-color: rgb(42, 42, 42);
    border: none;
    color: rgb(245, 156, 156);
    text-align: center;
    font-size: 1.3em;
    height: 50px;
    width: 120px;
}

button:hover{
    background-color: rgb(36, 36, 36);
    color: rgb(201, 128, 128);
}

#typing-space{
    margin-top: 20px;
    padding: 10px;
}

h3{
    font-size: 2em;
}

span {
  display: inline-block;
  margin-right: 0;
  letter-spacing: 0;
  font-size: 2em;
  user-select: none;
}

.correctText{
    color: rgb(255, 255, 255);
}
.wrongText{
    color: rgb(195, 19, 19);
}
.originalText{
    color: rgb(71, 71, 71);
}