.parent{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers content horizontally */
  justify-content: center; /* centers content vertically if you give height */
  gap: 5px;  /* space between rows */
  width: 100%;
  font-size: 6.7em;
  font-family: monospace;
  margin-bottom: 20px;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;               
  width: 100%;
}

.invisible,
.invisible {
  display: none;
}

h5 {
  text-align: center;
  width: 100%;
  margin: 0;
}

.container button{
    width: 100px;
    height: 50px;
    border: none;
    font-size: 40px;
    color:rgb(162, 162, 162);
    background-color: rgb(237, 237, 237);
}

.container button:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);
}
.container button:active{
    background-color: rgb(237, 237, 237);
}

#start{
    background-color: rgb(0, 174, 255);
    border: 2px solid black;
    border-radius: 20px;
    width: 330px;
    height: 50px;
    font-size: 2em;
}
#start:hover{
    background-color: rgb(0, 156, 228);
}
#start:active{
    background-color: rgb(0, 174, 255);
}


#pause-resume{
    background-color: rgb(255, 187, 0);
    border: 2px solid black;
    border-radius: 20px;
    width: 155px;
    height: 50px;
    font-size: 2em;
    margin-right: 10px;
}
#pause-resume:hover{
    background-color: rgb(226, 166, 0);
}
#pause-resume:active{
    background-color: rgb(255, 187, 0);
}
#reset{
    background-color: rgb(225, 220, 164);
    border: 2px solid black;
    border-radius: 20px;
    width: 155px;
    height: 50px;
    font-size: 2em;
}

#reset:hover{
    background-color: rgb(198, 194, 145);
}

#reset:active{
    background-color: rgb(225, 220, 164);
}

#pause-resume, #reset{
    display: none;
}