
body{
    background-color: hsl(0, 100%, 99%);
}

h1{
    display: block;
}

.parent{
    justify-content: center;
    display: flex;
    align-items: center; 
    height: 100vh;
}

.game-container{
    display: inline-block;
    background-color: rgb(214, 255, 219);
    border: 3px solid black;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.game-container label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 3em;
    display: block;
}

#numberInput{
    margin: 5px;
    width: 40px;
    margin: 20px;
    font-size: 2em;
    min-width: 70px;
}

#tryButton{
    border: 2px solid black;
    background-color: cornflowerblue;
    color: white;
    font-size: 1.5em;
    padding: 5px 10px;
    margin-right: 20px;
}

#tryButton:hover{
    background-color: rgb(117, 159, 238);
    cursor: pointer;
}

.parent-button{
    justify-content: center;
    display: flex;
}

#reset{
    display: block;
    margin-bottom: 20px;
    background-color: rgb(255, 170, 170);
    padding: 10px;
    font-size: 1.5em;
}

#reset:hover{
    cursor: pointer;
    background-color: rgb(255, 193, 193);
}