.parent{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.box{
    font-family: monospace;
    font-size: 9em;
    text-align: center;
}

.box h5{
    margin: 20px;
}