body{
    background-color: rgb(240, 248, 255);
}

.parent{
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    text-align: center;
}

.container button{
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.container button:hover{
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}
.container button:active{
    background-color: rgb(0, 0, 0);
}

