.parent{
    justify-content: center;
    display: flex;
    align-items: center; 
    height: 100vh;
}

.container{
    text-align: center;
    border: 5px solid black;
}

.container h1{
    margin: 10px;
}

.container button{
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.container button:hover{
    background-color: rgb(46, 46, 46);
}

.container button:active{
    background-color: rgb(0, 0, 0);
}

.container img{
    margin-bottom: 10px;
}